# This allows directories to be called without adding .php to the link
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
# Changes the default page
DirectoryIndex index.php
