body {
  background-image: url("./images/background.svg");
  background-size: cover;
  background-position: fixed;
  background-color: #184c98;
}
.admin-login {
  width: clamp(100px, 85vw, 400px);
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  border-radius: 25px;
}
.admin-login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.admin-login img {
    height: 30px;
    width: auto;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg)
    brightness(104%) contrast(103%); /* source https://codepen.io/sosuke/pen/Pjoqqp, makes svg's white */
}
.admin-login a {
  text-decoration: none;
  color: #184c98;
}
.admin-login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.admin-login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}
.admin-login form input[type="password"],
.admin-login form input[type="text"] {
  width: clamp(15px, 50vw, 310px);
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.admin-login form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border-radius: 0px 0px 25px 25px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.admin-login form input[type="submit"]:hover {
  background-color: #2868c7;
  transition: background-color 0.2s;
}
.admin-login form input[type="button"]:hover {
  background-color: #2868c7;
  transition: background-color 0.2s;
}
.admin-login form input[type="button"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.error {
  display: block;
  text-align: center;
  color: red;
}
.content {
  margin: 0 auto;
  margin-top: 2vh;
  justify-content: center;
  height: 90vh;
  background-color: #fff;
  width: 85vw;
  border-radius: 25px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.content div {
  display: flex;
}
.content h1 {
  text-align: center;
  color: #000000;
  font-size: clamp(1em, 4vh, 24px);
  padding: clamp(1px, 2vh, 20px) 0 clamp(1px, 2vh, 20px) 0;
  border-bottom: 1px solid #dee0e4;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #1d54a0;
  width: 85vw;
  margin: auto;
  border-radius: 25px;
}

.nav-button {
  display: block;
  width: 29vw;
  height: 75px;
  margin: auto auto;
  color: #fff;
  text-align: center;
  line-height: 75px;
  text-decoration: none;
  border-radius: 25px;
}

.nav-button:hover {
  background-color: #114b9c;
}